<h1>Pecha Kutcher!</h1>

<div id="participant-form">
<form action="/" method="post">
<input type="text" name="name" placeholder="Your name">
<input type="text" name="subject" placeholder="Your game">
<button>Add</button>
</form>
</div>

</br>
</br>

<% if @name %>
<p>Thanks <%= @name %>, looking forward to your kutch</p>
<% end %>

</br>
</br>
<a href="/next">Who's Next?</a>