<div id="loading">
  <img id="loading-image" src="/images/<%= @rand_num %>.jpg" alt="Loading..." width="500px" height="500px";/>
  <p><%= @ashton_quote %>
</div>

<div id="next-to-load">
  <p>Ashton says:</p>
  <p><%= @return_text %></p>
  <a href="/next">Who's Next?</a>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
  $('#next-to-load').hide(0);
  $('#next-to-load').delay(3000).show(0);
  $('#loading').delay(3000).hide(0);
</script>